<a id="logo" href="/">
    <svg width="600" height="150">
        <line class="shortLine" x1="135" y1="91.5" x2="135" y2="20.5"/>
        <line class="shortLine" x1="475" y1="20.5" x2="475" y2="91"/>
        <line class="longLine" x1="135" y1="22" x2="475" y2="22"/>
        <line class="longLine" x1="476.5" y1="90" x2="134.5" y2="90"/>
        <text class="textcharlie" y="60" x="50%" text-anchor="middle" alignment-baseline="middle">C H A R L I E </text>
        <text class="text2" y="130"  x="50%" text-anchor="middle" alignment-baseline="middle">Growing since 1994</text>
    </svg>
</a>