<div class="m-b-2 section" id="navigation">
    <nav class="navbar">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://">
                    About
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://">
                    Travel
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://">
                    Lifestyle
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://">
                    Food
                </a>
            </li>
        </ul>
    </nav>
</div>