$color-black: #404040;
$color-off-white: #F2F2F2;
$color-plum: #421D35;
$color-dusty-rose: #C6B6BE;

$body-bg: $color-off-white;
$brand-primary: $color-dusty-rose;
$brand-secondary: $color-plum;

$link-color: $color-plum;
$link-hover-color: $color-dusty-rose;

@import url('https://fonts.googleapis.com/css?family=Average');
$font-family-base: "Average";
